
      #logo{
        display: block;
         margin-left: auto;
           margin-right: auto;
       }
       .log_cont{
           margin-bottom: 30px;
           margin-top: 30px;
       }
       body{
           color: #1d5996;
           max-height: 100%;
           margin-top: 8%;
          
           
           
       }
       .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(216, 216, 216, 0.3);
    border-radius: .3rem;
   
}
 

.cool {
    display: inline-block;
    color: #dba030;
    text-decoration: none;
}

.cool::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 4px;
    background: #dba030;
    transition: width 1.6s;
}

.cool:hover::after {
    width: 100%;
    //transition: width .3s;
}    
   
       
       .cool1 {
    display: inline-block;
    color: #004dc9;
    text-decoration: none;
    padding-left: 5px;
}

.cool1::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 4px;
    background: #004dc9;
    transition: width 1.6s;
    margin-left: 10px;
}

.cool1:hover::after {
    width: 100%;
    //transition: width .3s;
}   
       
       
           
       .point {
width: 6px;
height: 6px;
background-color: #dba030;
float: left;

  animation: width 5s  forwards;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}


.point1 {
width: 6px;
height: 6px;
background-color: #004dc9;
float: right;

  animation: width 5s  forwards;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}



       
 
a:link{
   
    text-decoration: none;
}
   

.butt {
  font: 18px/1.0 "Roboto", Tahoma, helvetica, arial, sans-serif;
    
  background: white;
  /*border: 2px solid #a2a2a2;*/
    
    border-bottom: 1px solid #dba030;
    border-top: 1px solid #004dc9;
    border-left: 1px solid #dba030;
    border-right: 1px solid #004dc9;
    
    
  border-radius: 4px;
  color: #004dc9;
  margin: 15px;
  outline: 0 none;
  padding: 15px 25px;
  position: relative;
  transition: all 0.95s ease-in-out 0s;
  cursor: pointer;
  height: 50px;
  
    
}

.butt::after, .butt::before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.9s ease-in-out 0s;
  width: 100%;
  z-index: 3;
    box-shadow: none;
    
}

.butt::before {
  border-bottom: 1px solid #004dc9;
  border-left: 1px solid #004dc9;
  transform-origin: 0 100% 0;
    box-shadow: none;
}

.butt::after {
  border-right: 1px solid #dba030;
  border-top: 1px solid #dba030;
  transform-origin: 100% 0 0;
    box-shadow: none;
}

.butt:hover::after, .butt:hover::before {
  transform: scale(1.5);
    box-shadow: none;
}
.butt:hover {
  border: 0.1px solid rgba(0, 160, 80, 0);
    box-shadow: none;
}
button:focus {
    
    outline: 0px auto -webkit-focus-ring-color;
}





.btn-3{
  display: inline-block;
  position: relative;
  border: none;
  color:  #dba030;
  font-size: 28px;
  cursor: pointer;
  margin: 20px 30px;
  border-radius: 2px;
  background: rgba(27, 27, 27, 0.178);
}
 .btnspan{
  display: block;
  padding: 6px 15px;
} 
.btn-3::before, .btn-3::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition:  0.3s ;
  background: #004dc9;
  border-radius: 2px;
}

.btnspan::before, .btnspan::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition:  0.3s ;
  background: #004dc9;
  border-radius: 2px;
}
.btn-3:hover::before, .btn-3:hover::after{
  width: 100%;
}
.btn-3:hover .btnspan::before, .btn-3:hover span::after{
  height: 100%;
}

/*----- button 3 -----*/
.btn-3::after{
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-3 span::after{
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}
.btn-3::before{
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-3 span::before{
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after{
  transition-delay: 0s;
}
.btn-3:hover span::after{
  transition-delay: 0.2s;
}
.btn-3:hover::before{
  transition-delay: 0.4s;
}
.btn-3:hover span::before{
  transition-delay: 0.6s;
}











.btn-2{
  display: inline-block;
  position: relative;
  border: none;
  color:  #004dc9;
  font-size: 28px;
  cursor: pointer;
  margin: 20px 30px;
  border-radius: 1px;
  background: rgba(27, 27, 27, 0.178);
}
 .btnspan1{
  display: block;
  padding: 6px 15px;
} 
.btn-2::before, .btn-2::after{
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition:  0.3s ;
  background: #dba030;
  border-radius: 2px;
}

.btnspan1::before, .btnspan1::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition:  0.3s ;
  background: #dba030;
  border-radius: 2px;
}
.btn-2:hover::before, .btn-2:hover::after{
  width: 100%;
}
.btn-2:hover .btnspan1::before, .btn-2:hover span::after{
  height: 100%;
}

/*----- button 2 -----*/
.btn-2::after{
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-2 span::after{
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}
.btn-2::before{
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-2 span::before{
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-2:hover::after{
  transition-delay: 0s;
}
.btn-2:hover span::after{
  transition-delay: 0.2s;
}
.btn-2:hover::before{
  transition-delay: 0.4s;
}
.btn-2:hover::before:hover span::before{
  transition-delay: 0.6s;
}